sudo dnf install nodejs

sudo dnf install yarnpkg

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/managing_containers/finding_running_and_building_containers_with_podman_skopeo_and_buildah

podman pull fedora:33

podman image rm 

podman ps: show running containers
podman run -dt <name> : run container

podman exec -it CONTAINER_ID /bin/bash

podman build -t=pythonic .

                 host:container
podman run -dt -p 8081:8080/tcp pythonic


http://127.0.0.1:8081/?file=/root/.bashrc

