sudo dnf install nodejs

sudo dnf install yarnpkg

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/managing_containers/finding_running_and_building_containers_with_podman_skopeo_and_buildah

podman pull fedora:33

podman build -t=pythonic .

